body {  
    text-align: center;
    background-color: #eee;
}
#main {
    width: 600px;
    margin: 0 auto;
    text-align: left;
    position: relative;
}
#main-canvas {
    margin-bottom: 10px;
}
.field {
    padding-bottom: 10px;
}
.field input {
    position: absolute;
    left: 70px;
}

